// File:    dashboard.jade
// Date:    11/22/2014
// Version: 1.0
//
// Description:
// This file is a Jade template for the layout of the dashboard.html
// webpage produced for the #D Module assignment.

extends layout

block content
   // The div that provides the background for the dashboard page
   div("id"="backgrnd", class="backgroundiv")

   // The div that provides the title header of the dashboard
   div("id"="header", class="titlediv")
      | Pokemon Statistics Dashboard

   // The div that provides the user with form entry to the SQL database
   div("id" = "div1", class = "formdiv")
      // Instructions for the user
      p("id"="instructions", class="text1")
         | Instructions for the user input form shown below
      // Form for accepting user input
      //form(name = "form", action = "postdata", method = "post")
      p("id"="field1", class="f1")
         | Name
      input(type="text", name="name", class="inp1", id="inp1")
      p("id"="field2", class="f2")
         | Item
      input(type="text", name="item", class="inp2", id="inp2")
      p("id"="field3", class="f3")
         | Nature
      input(type="text", name="nature", class="inp3", id="inp3")
      input(type="submit", value="Submit", class="inp4", id="inp4")

   // The div that provides the text and graph component
   div("id"="div2", class="div2class")
      // The displayed graph
      div("id"="graph1", class="graphclass1")
      // Explanation of the displayed graph content
      p("id"="explanation1", class="text2")
         | Explanation of displayed graph content
      // Buttons to change the displayed content
      button("id"="changebtn1", class="btn1")
         | Held Items
      button("id"="changebtn2", class="btn2")
         | Nature

   // A div that provides the user with manipulation and diplay of data
   div("id" = "div3", class = "div3class")
      // The displayed chart
      div("id"="chart1", class="chartclass1")
      // The displayed image
      div("id"="image1", class="imageclass1")
      // Buttons to change the displayed content
      button("id"="changebtn3", class="btn3")
         | Change 3
      button("id"="changebtn4", class="btn4")
         | Change 4

   // A div that provides the user with display and JQuery manipulation of data
   div("id" = "div4", class = "div4class")
      // The displayed chart
      div("id"="graph2", class="graphclass2")
      // The displayed selection list for the user
      select("id"="selector", class="selector")
         option(value="all")
            | All
         option(value="bug")
            | Bug
         option(value="dark")
            | Dark
         option(value="dragon")
            | Dragon
         option(value="electric")
            | Electric
         option(value="fairy")
            | Fairy
         option(value="fighting")
            | Fighting
         option(value="fire")
            | Fire
         option(value="flying")
            | Flying
         option(value="ghost")
            | Ghost
         option(value="grass")
            | Grass
         option(value="ground")
            | Ground
         option(value="ice")
            | Ice
         option(value="normal")
            | Normal
         option(value="poison")
            | Poison
         option(value="psychic")
            | Psychic
         option(value="rock")
            | Rock
         option(value="steel")
            | Steel
         option(value="water")
            | Water
      // Explanation of the displayed chart content
      // p("id"="explanation2", class="text3")
         // | Explanation of displayed chart content
