// this iterates over the data table and extracts the values

table
   each val in data
      tr
         td #{ val.paver  }
         td #{ val.planter  }
         td #{ val.baker }
         td #{ val.skater }