// this iterates over the data table and extracts the values

table
   each val in data
      tr
         td #{ data.paver  }
         td #{ data.planter  }
         td #{ data.baker }
         td #{ data.skater }