/* This style class is used for the body of the html document */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* This style class is used for the first textual input field of the form div */
.inp1 {
  border-radius: 5px;
  position: absolute;
  top: 32%;
  left: 5%;
  width: 40%;
  height: 5%;
}

/* This style class is used for the second textual input field of the form div */
.inp2 {
  border-radius: 5px;
  position: absolute;
  top: 47%;
  left: 5%;
  width: 40%;
  height: 5%;
}


.inp3 {
  border-radius: 5px;
  position: absolute;
  top: 62%;
  left: 5%;
  width: 40%;
  height: 5%;
}

/* This style class is used for the submission button of the form div */
.inp4 {
  border-radius: 5px;
  position: absolute;
  top: 77%;
  left: 5%;
  width: 20%;
  height: 7%;
  background-color: #C0C0C0;
}

.inp4:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/* This style class is used for the instruction text shown in the form div */
.text1 {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 12px;
  color: black;
  text-align: center;

  background: beige;
  border-radius: 5px;

  position: absolute;
  top: -2%;
  left: 2%;
  width: 96%;
  height: 18%;
}

/* This style class is used for the explanatory text shown in div 2 */
.text2 {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 12px;
  color: black;
  text-align: center;

  background: white;
  border-radius: 5px;

  position: absolute;
  top: 66.5%;
  left: 2%;
  width: 96%;
  height: 18%;
}

/* This style class is used for the explanatory text shown in div 4 */
.text3 {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 12px;
  color: black;
  text-align: center;

  background: whitesmoke;
  border: 1px solid firebrick;
  border-radius: 5px;
}

/* This style class is used for the background div */
.backgroundiv {
  background-color: beige;

  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

/* This style class is used for the title div */
.titlediv {
  background-color: black;
  border-radius: 5px;
  border: 1.5px solid floralwhite;

  color: floralwhite;
  font-family: "Times New Roman", times, serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  -webkit-justify-content: center;

  position: absolute;
  top: 0.5%;
  left: 2%;
  height: 11.75%;
  width: 96%;
}

/* This style class is used for the form div */
.formdiv {
  background-color: #709BB8;
  border-radius: 5px;
  border: 1.5px solid floralwhite;

  position: absolute;
  top: 13%;
  left: 2%;
  height: 42.5%;
  width: 47.625%
}

/* This style class is used for the second div */
.div2class {
  background-color: #709BB8;
  border-radius: 5px;
  border: 1.5px solid floralwhite;

  position: absolute;
  top: 13%;
  left: 50.375%;
  height: 42.5%;
  width: 47.625%;
}

/* This style class is used for the third div */
.div3class {
  background-color: #709BB8;
  border-radius: 5px;
  border: 1.5px solid floralwhite;

  position: absolute;
  top: 56.5%;
  left: 2%;
  height: 42.5%;
  width: 47.625%;
}

/* This style class is used for the fourth div */
.div4class {
  background-color: #709BB8;
  border-radius: 5px;
  border: 1.5px solid floralwhite;

  position: absolute;
  top: 56.5%;
  left: 50.375%;
  height: 42.5%;
  width: 47.625%;
}

/* This style class is used for sizing the Highchart in div 2 */
.graphclass1 {
  background-color: white;
  border-radius: 5px;

  position: absolute;
  height: 66.5%;
  width: 96%;
  left: 2%;
  top: 2%;
}

/* This style class is used for sizing the Highchart in div 4 */
.graphclass2 {
  background-color: white;
  border-radius: 5px;

  position: absolute;
  height: 96%;
  width: 74%;
  left: 2%;
  top: 2%;
}

/* This style class is used for placing the first button in div 2 */
.btn1 {
  position: absolute;
  top: 91.5%;
  left: 29.5%;
  width: 20%;
  height: 7%;
  border-radius: 5px;
  background-color: #C0C0C0;
}

/* This style class is used for hovering over the first button in div 2 */
.btn1:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/* This style class is used for placing the second button in div 2 */
.btn2 {
  position: absolute;
  top: 91.5%;
  left: 50.5%;
  width: 20%;
  height: 7%;
  border-radius: 5px;
  background-color: #C0C0C0;
}

/* This style class is used for hovering over the second button in div 2 */
.btn2:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/* This style class is used for placing the first button in div 3 */
.btn3 {
  position: absolute;
  top: 93%;
  left: 2%;
  width: 47.5%;
}

/* This style class is used for placing the second button in div 3 */
.btn4 {
  position: absolute;
  top: 93%;
  left: 50.5%;
  width: 47.5%;
}

/* This style class is used for hyperlinks */
a {
  color: #00B7FF;
}